.mail {
  color: rgb(27, 240, 255);
}
.mail:hover,
.mail:focus {
  color: rgb(27, 255, 141);
}
.my-email {
  background: var(--header-scroll-main-color);
  border-radius: 10px;
  margin: 0 30% 0 30%;
  text-align: center;
}
.content {
  margin: 10vh 5% 10vh 5%;
  width: 90%;
  display: grid;
  grid-template-columns: 60% 40%;
  height: 107vh;
}
#opinion {
  background: var(--header-scroll-main-color);
  border-radius: 0 20px 20px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}
textarea,
input {
  width: 80%;
  height: 10%;
  margin-top: 20px;
  background-color: black;
  color: #fff;
  transition: 100ms linear;
}
textarea:hover,
textarea:focus,
input:hover,
input:focus {
  background: #fff;
  color: #000;
}
#send {
  margin-top: 20px;
  width: 200px;
  transition: 100ms linear;
}
#send:hover,
#send:focus {
  background: var(--header-scroll-main-color);
  box-shadow: 10px 10px #000;
  border: 1px solid #000;
}
#my-message {
  border-radius: 20px 0 0 20px;
  background: url("https://images.pexels.com/photos/965875/pexels-photo-965875.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}
@media (max-width: 720px) {
  .content {
    grid-template-columns: auto;
    grid-template-rows: 40% 60%;
    height: 107vh;
  }
  #opinion {
    border-radius: 0 0 20px 20px;
  }
  #my-message {
    border-radius: 20px 20px 0 0;
  }
  .my-email {
    margin: 15px 10% 0 10%;
  }
}
