
.welcome {
  background-image: url("../img/codrut2.jpeg");
  background-position: top;
  background-size: cover;
  border-radius: 25px;
  margin-top: 80px;
  margin-bottom: 25px;
  width: 100%;
  height: 80vh;
  color: var(--welcome-text-color);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.welcome-items {
  text-align: center;
  font-size: 2em;
  background-color: var(--background-color);
}
.posts {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  flex: 1 1 100px;
}
.post {
  margin-top: 50px;
  display: flex;
  color: rgb(255, 255, 255);
  flex-direction: column;
  background-color: rgb(73, 68, 68);
  width: 90%;
  height: 80%;
  border-radius: 25px;
  text-align: center;
  margin-left: 20px;
  transition: box-shadow 0.3s linear;
} 

a:focus > .post {
  box-shadow: 3px 6px 10px var(--post-hover-shadow);
  transform: scale(1.01);
} 


.post:hover,
.post:focus {
  box-shadow: 3px 6px 10px var(--post-hover-shadow);
  transform: scale(1.01);
}
a {
  text-decoration: none;
}
h4 {
  color: rgb(161, 185, 94);
  transition: color 0.2s linear;
  text-decoration: underline;
}
h4:hover,
h4:focus {
  color: rgb(76, 140, 189);     
}

.post-images {
  border-radius:25px 25px 0 0;
}

@media (max-width: 720px) {
  
  .posts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .post {
    margin-top: 50px;
    width: 80vw;
  }
}


